body {
  font-family: Arial, sans-serif;
  background-color: #e3e3fb;
}

/* Tag selectors */
h1 {
  text-align: left;
  margin-top: 20px;
  text-shadow: 4px 4px 8px rgba(4, 33, 138, 0.5);
}
h2 {
  font-weight: bold;
}

.navbar-brand {
  font-weight: bold;
}
